.THIS.wrapText{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-word;
    white-space: pre-wrap;
}

/*.THIS .fc-scroller.fc-time-grid-container {
  height: 500px!important; overflow: hidden scroll!important;
}
*/
.THIS .fc-scroller {
    height: 100%!important;
}