.THIS .wrapText{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-word;
    
}

.THIS .bottom-border{
    border-bottom:2px solid rgb(221, 219, 218)!important;
    margin:10px 0px!important ;
}

.THIS .slds-table td{
    white-space: normal!important;
}